NODE_ENV=development
PORT=4000
DATABASE_URL=postgres://gungnir:gungnir@localhost:5432/gungnir
REDIS_URL=redis://localhost:6379
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
GUARDIAN_E2E_KEY_HEX=cf0ce2085baa4326de1ce3fa470e92959607261d896903d15d1ff60ab748cc14
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d
